include pug/libs/_libs

doctype html
html(lang="en")
    include pug/_head
    body 
        h1 Hello
        .main
            .text
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis totam laudantium ratione eligendi aut sequi eius eos, iure itaque culpa non voluptas, mollitia sint! Aliquid nostrum labore similique ipsum quod?
        img(src=require('./assets/images/image2.jpeg') alt="asdf")
        p хуйasdf
        p asdfjsdkfhjkasdhkdsfasdfasdfsdf